<link rel="stylesheet" href="/static/index.css">

<footer>
    <div class="main" id="main">
        <div class="content footer-links">
            <div class="footer-company">
                <h4>Empresa</h4>
                <h6>Sobre</h6>
                <h6>Contato</h6>
            </div>
            <div class="footer-rental">
                <h4>Aluguel</h4>
                <h6>Self-Drive</h6>
                <h6>Motorista</h6>
                <h6>Ajuda</h6>
            </div>
            <div class="footer-social">
                <h4>Mantenha-se conectado</h4>
                <div class="social-icons">
                    <img src="/static/imagens/instagram.png" alt="Instagram" />
                    <img src="/static/imagens/facebook.png" alt="Facebook" />
                </div>
            </div>
            <div class="footer-contact">
                <h4>Contate-nos</h4>
                <h6>+351 934 934 934</h6>
                <h6>contato@luxuryWheels.com</h6>
                <h6>Nome da Rua, Lisboa, Cascais - 2750-000</h6>
            </div>
        </div>
    </div>
    <div class="last">&copy; 2024 Luxury Wheels. Todos os direitos reservados.</div>
</footer>