<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    
</head>
<body>
    



    <div class="lw-container">
        <h1 class="lw-h1">Login</h1>

        <!-- Formulário de login -->
        <form action="{{ url_for('login') }}" method="POST" class="lw-form">
            <label for="username" class="lw-label">Username:</label>
            <input type="text" id="username" name="username" required class="lw-input">

            <label for="password" class="lw-label">Password:</label>
            <input type="password" id="password" name="password" required class="lw-input">

            <button type="submit" class="lw-button">Login</button>
        </form>
        <p>Ainda não tem uma conta? <a href="{{ url_for('register') }}" class="lw-link">Registre-se</a></p>
        
    </div>
</body>
</html>
